
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.navSection{
    
    height: 80px;
    display: flex;
    justify-content: space-between;
    /* background-color:rgb(110, 114, 234); */
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: larger;
    background-color: #69306d;
}

.sideBarSection{
    
    height: 87vh;
    max-width: 15%;
    width: 100%;
    background-color :#D3BCC0;
    padding-top: 10px;

}
.sideBarSection ul li {
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.loginSection{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.registerSection{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.collectionSection{
    display: flex;
}

.authForm{
   /* border: 1px red solid; */
   width: 100%;
   max-width: 50%;
   margin-top: -80px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid gray;
   border-radius: 10px;
    -webkit-box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
}

.authForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}

.authForm label{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 55%;
    font-weight: 400;
    
}

.firmSection{
     /* border: 1px solid red;  */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.tableForm{
   /* border: 1px red solid;  */
   width: 100%;
   max-width: 50%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: 1px solid gray;
   border-radius: 10px;
   -webkit-box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 16px -7px rgba(66, 68, 90, 1);
   
}

.tableForm input{
    width: 100%;
    max-width: 55%;
    height: 20px;
    max-width: 70%;
    margin-bottom: 5px;
}

.tableForm label{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 70%;
    font-weight: 400;
    
}

.productSection{
     /* border: 1px solid red;  */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/* checkbox inputs*/
.checkInp{
 
    width: 100%;
    max-width: 70%;
    display: flex;

}

.checkInp label{
    width: 20%;
}

.inputsContainer{
    width: 100%;
    display: flex;
}

.checkBoxContainer{
    width: 100%;
    max-width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.checkBoxContainer label{
    width: 50%;
   
}

.checkBoxContainer input{
    margin-left: -150px;
    
}

.regBoxContainer{
    font-size: small;
}

/* products table */
.product-table{
    /* border: 2px solid red; */
    width: 80vw;
    max-width: 80vw;
    border-collapse: collapse;
    margin-top: 50px;
}

.product-table th,
.product-table td {
    border: 1px solid gray; 
    padding: 10px;
}

.product-table th{
    text-align: left;
    background-color: gray;
}

/* not found component */

.errorSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.errorSection h1{
    font-size: 4rem;
}

h3{
    color: #D7263D;
}

/* btn submit */

.btnSubmit button{
    background-color: rgb(82, 82, 196);
    width: 5rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}